* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0b7dda;
  color: white;
  text-align: center;
  opacity: 1;
  z-index: 1000;
}


h1 { text-align: center;
  font-family: Papyrus, fantasy;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
    margin: 15px;
} h3 {
    /*font-family: Papyrus, fantasy;*/
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px; }
/*p { font-family: Papyrus, fantasy; */
  /*font-size: 14px;*/
  /*font-style: normal;*/
  /*font-variant: normal;*/
  /*font-weight: 400;*/
  /*line-height: 20px; }*/
blockquote {
  /*font-family: Papyrus, fantasy;*/
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }
pre {
  /*font-family: Papyrus, fantasy;*/
  font-size: 13px; font-style: normal;
  font-variant: normal; font-weight: 400;
  line-height: 18.5714px; }

.rendered_links_and_text {
  margin-left: 20px;
  padding-top: 20px;
  display: block;
  position: relative;
}


.rendered_links {
  /*margin-left: 20px;*/
  /*padding-top: 20px;*/
  /*display: block;*/
}

.rendered_links:link {
  text-decoration: underline;
}

.rendered_links:visited {
  text-decoration: none;
}

.rendered_links:hover {
  text-decoration: underline;
}

.rendered_links:active {
  text-decoration: underline;
}

.st {
    line-height: 1.4;
    word-wrap: break-word;
    color: grey;
    font-size: 14px;
    width: 400px;
}


.button-my {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.table-btn{
  padding: 5px 10px;
}
.button2 {
  background-color: white;
  color: black;
  border: 2px solid #0b7dda;
}

.button2:hover {
  background-color: #0b7dda;
  color: white;
}

.btn{
  border-radius: 0;
}

.data{
  margin: 10px;
  text-decoration-color: lightgrey;

}
.data span{
  font-size:12px;
  line-height: 0.5;
}